@import "@onega-ui/icons";
@import "@onega-ui/styles";
@import 'base';

body{
  background-color: var(--ong-color-secondary-bg);
}

.shadow {
  box-shadow: 0 0 5px 0 var(--ong-color-dark-bg);
}

.btn{
  align-items: center;
  display: flex;
}